

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

 /* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}



/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}


*{
  
    margin: 0;
	padding: 0;
 
}

main{
  display: grid;
  grid-template-areas: 'main' 1fr;
  background-color: #f2f7f8; 
              
}


:root {
  --subheading-font-family: "Inter", Helvetica;
  --subheading-font-weight: 400;
  --subheading-font-size: 24px;
  --subheading-letter-spacing: 0px;
  --subheading-line-height: 150%;
  --subheading-font-style: normal;
  --small-text-font-family: "Inter", Helvetica;
  --small-text-font-weight: 500;
  --small-text-font-size: 16px;
  --small-text-letter-spacing: 0px;
  --small-text-line-height: 150%;
  --small-text-font-style: normal;
  --body-text-font-family: "Inter", Helvetica;
  --body-text-font-weight: 500;
  --body-text-font-size: 20px;
  --body-text-letter-spacing: 0px;
  --body-text-line-height: 150%;
  --body-text-font-style: normal;
  --button-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  --collection-1-image: initial;
  --variable-collection-spacing-m: 48px;
  --variable-collection-spacing-XS: 8px;
  --variable-collection-spacing-s: 24px;
  --variable-collection-spacing-SM: 32px;
}



body{
box-shadow: 0 2px 100px 0px rgba(0, 0, 0, 0.2); /* Darker shadow */
transition: background 1s ease; /* Smooth transition for background changes */

}

.Navigation{
  /* display: grid;
  grid-template-columns: 1fr 70% 1fr; */
  position: sticky;
  top:0;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  padding-left: 5rem;
  padding-right: 5rem;
  font-family: Inter;
  height: 77px;
  align-items: center;
  z-index: 99;
  background-color: #fff;
  box-shadow: 0 2px 100px 0px rgba(0, 0, 0, 0.2); /* Darker shadow */
 
  color: #000;
  font-family: Montserrat;
  /* 30px */
}

.Navigation > img{
  height: 12rem;
  width: 12rem;
  cursor: pointer;
}

.nav-section{
  display: flex;
  align-items: center;
  gap: var(--Spacing-M, 48px);
}
.Items{
  display: flex;
 
  
  gap: var(--Spacing-M, 48px);
  list-style-type: none;
  text-decoration: none;
}

.nav-item{
  /* Body text */
  position: relative;
  font-size: .9rem;
  font-style: normal;
  font-weight: 500;
}

.nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 100%;
  height: 4px;
  background-color: #279091; /* Color of the underline */
  transform: scaleX(0); /* Start the underline hidden */
  transform-origin: right; /* Animate from right to left */
  transition: transform 0.3s ease; /* Smooth transition */
}

/* On hover, expand the underline from left to right */
.nav-link:hover::after {
  transform: scaleX(1); /* Show the underline on hover */
  transform-origin: left;
}

.nav-link{
  display: inline-block;
  position: relative;
  text-decoration: none;
  list-style-type: none;
  cursor: pointer;
  color: hsl(181 48 22);
}

.dropdown{
 
  display: block;
  position: absolute;
  top: 150%; /* Position the dropdown below the parent */
  left: -50px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for dropdown */
  
  list-style-type: none;
  z-index: 10;
  cursor: pointer;
  
  visibility: hidden;
  transition: opacity 0.1s ease, visibility 0.3s ease;
  transition-delay: 0s; /* No delay initially */
  
}

/* Delay hiding the dropdown */
.nav-item .dropdown {
  transition-delay: .2s; /* Slight delay before hiding */
}

/* Show the dropdown on hover of the nav-item or the dropdown itself */
.nav-item:hover .dropdown,
.nav-item:focus-within .dropdown {
 
  visibility: visible;
  
}


.dropdown li {
  background-color: hsl(181 43 61/.5);
}

.dropdown li a {
  text-decoration: none;
  color: #424242; /* Link color */
  /* padding: 2rem 4rem; */
  
  display: block;
  width: 12rem;
  height: 4rem;
  transition: background-color .3s ease;
 
  align-content: center;
  text-align: center;
}

.dropdown li a:hover {
  background-color: hsl(181 43 90/1);
  
}

/* Dropdown menu (initially hidden) */


/* Show dropdown menu on hover */


.hamburger {
  display: none;
  cursor: pointer;
  background: transparent;
}

.cta-button{
  font-family: Inter;
  font-size: .9rem;
  font-weight: 700;
  width: 8.25rem;
  background: #0e6a4a;
  padding: 10px 20px; /* Adjust the padding as needed */
  border-radius: 32px; /* Sets the border radius */
  
  color: white; /* Text color */
  border: none; /* Removes any default border */
  cursor: pointer; /* Changes cursor to pointer on hover */
  font-size: 16px; /* Adjust the font size as needed */
  transition: background-color 0.3s ease; /* Adds a transition effect */
}

.cta-button:hover {
  background-color: hsl(181 48 22); /* Darker shade on hover */
}


.blob-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.blob {
  position: absolute;
  width: 300px;
  height: 300px;
  background: linear-gradient(45deg, rgba(255,0,150,0.8), rgba(0,150,255,0.8));
  border-radius: 50%;
  filter: blur(100px);
  animation: blob-animation 10s infinite ease-in-out;
}

.blob:nth-child(2) {
  width: 350px;
  height: 350px;
  background: linear-gradient(45deg, rgba(255,200,0,0.8), rgba(255,0,150,0.8));
  animation-duration: 12s;
}

.blob:nth-child(3) {
  width: 250px;
  height: 250px;
  background: linear-gradient(45deg, rgba(0,255,150,0.8), rgba(0,100,255,0.8));
  animation-duration: 15s;
}

@keyframes blob-animation {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(50%, 50%) scale(1.2);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

.bg-red {
  
}

.bg-green {
  background: linear-gradient(135deg, rgba(102, 255, 102, 1), rgba(204, 255, 204, 1));
}

.bg-blue {
  background: linear-gradient(135deg, rgba(102, 102, 255, 1), rgba(204, 204, 255, 1));
}

.display-1{
    z-index:0;
    position:absolute;
    mix-blend-mode: multiply;
    opacity:.9;
    width: 100%;
    max-height: 36.875rem;
    top: 77px;
    object-fit: cover;
    margin-inline: auto;
}


.gradient-overlay {
    position: relative;
    display: flex;
    z-index:2;
    opacity: .4;
    width: auto;
    height: 590px;
   
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgb(87, 201, 161) , rgb(254, 254, 254) 100%);
  }
  
  h1{
    font-family: Montserrat, sans-serif;
    font-size: clamp(2rem, 6vw + 1rem, 5rem );
    font-weight: 700;
    color: #4c4c4c;
    
  }

  h2{
    font-family: Montserrat, san-serif;
    font-size: clamp(1rem, 3vw + 1rem, 2.5rem );
    font-weight: 700;
    color: #4c4c4c;
  }

  h3{
    font-family: Montserrat;
    font-size: 1.5rem;
    font-weight: 700;
    color: #4c4c4c;
  }


  p{
    font-family: Inter;
    font-size: 1.2rem;
    font-weight: 500;
    color: #828282
  }

  .Landing-page-text{
    position: absolute;
    z-index:3;
    display: flex;
    flex-direction: column;
    /* grid-template-columns: none; */
    place-content: center;
    place-items: center;
    width:56.7%;
    /* grid-template-columns: 1fr 50% 1fr; */
    left:21.65%;
    gap: 1.5rem;
    top:244px;
    text-align: center;
    margin-inline:auto;
    padding-inline: auto;
  }

  .Landing-page-text p{
    color: #333;
  }

  .Landing-page-text h1 span {
    background: linear-gradient(90deg, 
                hsl(181, 43%, 61%), 
                hsl(216, 83%, 58%), 
                hsl(181, 43%, 61%),
                hsl(216, 80%, 46%)
               );
    background-size: 400%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: gradientAnimation 45s ease-in-out infinite;
  }
  
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 70%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
  

  .Landing-page-section {
    display: grid;
    grid-template-columns: 44% 44%;
    width: auto;
    gap: 6rem;
    padding-top: 8rem;
    padding-bottom: 8rem;
    place-items: center;
    padding-left: 4rem;
    position: relative; /* Needed for positioning the pseudo-element */
    z-index: 1; /* Ensure the content is above the background */
  }
  
  .Landing-page-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(255, 102, 102, .4), rgba(255, 204, 204, .8));
    opacity: 0; /* Initial opacity for the background */
    transition: opacity 6s ; /* Transition for background opacity */
    z-index: -1; /* Make sure the background is behind the content */
  }
  
  .bg-visible::before {
    opacity: .2; /* Opacity for the background */
  }
  

.Landing-page-section-text{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 1.5rem;
  justify-content: center;
}

.Landing-page-section-text > p{
  width: 80%
}


.display-2{
  min-height: 25rem;
  max-width: 100%;
 object-fit: cover;
 border-radius: 8px;
 margin-right: auto;
}


.care-type-section{
  padding-top: 8rem;
  padding-bottom: 8rem;
  
  /* width: 85.4%; */
  padding-inline: 5%;
}

.care-type-item {
  display: flex;
  align-items: center;
  justify-content: center;
  
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-decoration: none;
  color: #333;
  font-size: 1.2rem;
  text-align: center;
  transition: transform 0.2s, box-shadow 0.2s, background-color 0.3s, color 0.3s
}

.care-type-item:hover {
  /* transform: translateY(-5px); */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  
}

.care-type-container{
  margin-top:2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two equal columns */
  gap: 5%; /* Space between the cards */
  
}



.care-type-item h3{
  font-size: 2.5rem;
  
}


.care-type-content-1 > *,
.care-type-content-2 > *,
.care-type-content-3 > *,
.care-type-content-4 > * {
  display: flex;
  text-align: left;
  color: #424242;
  padding: 1rem;
  margin-top: 1rem;
  margin-left: 1rem;
  width: 80%;
}




.care-type-item p{
  padding-bottom: 11.5rem;
  font-size: 1.2rem;
  font-weight: 300;
  color:#828282;
  
}

.care-type-item h5{
  font-family: Inter;
  font-size: .9rem;
  font-weight: 300;
  color:#828282;
  padding-bottom: 1rem;
}

.care-type-content-1,
.care-type-content-2,
.care-type-content-3,
.care-type-content-4{
  height: 100%;
  transition: transform 0.2s, box-shadow 0.2s, background-color 0.3s, color 0.3s;
  border-radius: 8px;
}

.care-type-item:hover h3,
.care-type-item:hover p,
.care-type-item:hover h5  {
  color: #fff; /* Make all text white on hover */
}

.care-type-content-1:hover{
  background-color: #D856BA;
  
}

.care-type-content-2:hover{
  background-color: #0091ff;

}

.care-type-content-3:hover{
  background-color: #76c66f;
 
}

.care-type-content-4:hover{
  background-color: #4175d6;
 
}



.blog{
  
  margin-top: 8rem;
  
  width: 85.4%;
  margin-inline: auto;
}

.blog-container{
  margin-top: 2rem;
  display: grid;
  gap: 5rem;
 grid-template-columns: 1fr 1fr;
}

.blog-item{
 display: grid;
  gap: 1rem;
  
  text-decoration: none;
}

.read-more-link {
  
  margin-top: 10px;
  color: #279091;
  text-decoration: none;
  cursor: pointer;
}

.read-more-link:hover {
  text-decoration: underline; /* Add underline on hover */
}




.cta-section{
  margin-top: 8rem;
 
  
  background-color: #e4e2e2;
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index:0;
  place-content: center;
  place-items: center;
  /* width:45.375%; */
    /* grid-template-columns: 1fr 50% 1fr; */
  
  gap: 1.5rem;
  padding-top: 2rem ;
  padding-bottom: 2rem ;
  text-align: center;
  margin-inline:auto;
  padding-inline: auto;

}

.accreditation-section{
  
  padding:1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  
}

.accreditation-section img{
  mix-blend-mode: multiply;
  max-width: 8rem;
}

.Footer {
  position: sticky;
  bottom: 0;
  z-index: -1;
  background-color: #333;
  color: #424242;
  padding: 4rem 0;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-family: Montserrat, san-serif;

}

.footer-logo-section {
  flex: 1;
  padding: 10px;
}

.Footer-logo {
  max-width: 20rem;
}

.footer-nav-section {
  flex: 2;
  padding: 10px;
}

.footer-items {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
 
  
  width: 50% ;
  
  gap: 1rem;
  
  margin-left:40%;

}

.footer-item {
  display: inline-block;
}

.footer-link {
  color: #c0d2d2;
  text-decoration: none;
  font-size: .8rem;
  cursor: pointer;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-contact-section {
  
  flex: 1;
  padding: 10px;
}

.footer-contact-section p{
  font-size: .8rem;
}

@media (max-width: 48rem) {
  /* Initial hidden state */
.fade-in {
  opacity: 0 !important;
  transform: translateY(30px) !important;
  transition: opacity 0.6s ease-out, transform 0.6s ease-out !important;
}

/* Visible state on scroll */
.fade-in-visible {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

header > img{
  position: absolute;
  left: .25rem;
}

  .hamburger {
    display: block;
  width: 2rem;
  border: 0;
  position: absolute;
  aspect-ratio: 1;
  top: 1.5rem;
  right: 2rem;
  z-index: 150; /* Make sure it’s above other elements */
  }

  .line{
    stroke:hsl(181 48 22);
  }

  .Items{
    gap: var(--Spacing-M, 4px);
  }

  .nav-section{
    position: fixed;
    inset: 0 0 0 15%;
    height: 80vh;

    flex-direction: column;
    padding: min(15vh, 10rem) .5rem;
    padding-left: 0 !important;

    background: hsl(181 57 36% /.8);
    backdrop-filter: blur(2rem);
    
    z-index: 100;
    align-items: flex-start;
    border-bottom-left-radius: 8px;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    color: #f7f7f7;
   
  }

  .nav-section[data-visible="true"] {
    transform: translateX(0);
  }

  .nav-section > .cta-button{
    display: none;
  }

  .nav-item > .nav-link{
    color: #fff !important;
  }

  .nav-link::after{
    all: unset;
  }

  .dropdown{
    all:unset;
  }

  .dropdown li a{
    all: unset;
  }

  .dropdown li a:hover{
    background-color: transparent;
  }

  .dropdown li a{
    color: hsl(0 0 100/0.8);
    width: 100vw;
    display: block;
    padding: .5rem;
    margin-left: .5rem;
    text-decoration: none;
    font-size: 12px;
    border-bottom: 1px solid hsl(36 63 50/0.5);
    transition: background-color 0.2s ease;
    list-style-type: none;
   
  }

  .nav-item{
    background-color: transparent;
    border-bottom: 1.5px solid hsl(36 63 50/0.5);
    width: 100vw;
    
    padding-left: 1rem;
    cursor: pointer;
  }

  .dropdown a.active {
    background-color: #279091;
 
}

.nav-item.active  {
  background-color: #279091; /* Red color for active state */
  
}

.nav-link{
  width: 100vw;

  display: block;
  padding-top: .5rem;
  padding-bottom: .5rem;
  align-items: center;
  }


  .Items{
    flex-direction: column;
  }

  .nav-item:first-child{
    border-bottom: none;
  }

  

  .page-blur{
    position: fixed;
    /* inset: 0; 
    backdrop-filter: blur(.2rem); 
    z-index: 50; */
  }

  .display-1{
    height: 90vh;
    opacity: 1 !important;
  } 

  .gradient-overlay{
    width: 100% !important;
    opacity: .3 !important;
   
  }

  .Landing-page-text{
    text-align: left !important;
    width:90% !important;
    left:5% !important;
  }


  .display-2{
    width: 100% !important;
    height: auto;
  }

 
  h1{
    font-size: 3rem !important;
  }

  .Landing-page-text p{
    color: #333 !important;
  }

  .Landing-page-section{
    grid-template-columns: 1fr !important ;
    width:90% !important;
    margin-inline: 5% !important;
  }

  .Landing-page-section p{
    margin-inline: 1rem !important;
  }

  .care-type-section{
    width: 100% !important;
    padding-inline: 1rem !important;
  }

  .care-type-container{
    grid-template-columns: 1fr !important;
  
    padding: 0 !important;
    
    place-items: center !important;
  }

  .care-type-content-1 > *,
.care-type-content-2 > *,
.care-type-content-3 > *,
.care-type-content-4 > * {
 
  padding: .5rem !important;
  margin-top: 1rem;
  margin-left: .5rem  !important;
  width: 90%  !important;
}

  .care-type-item p{
    padding-bottom: 1rem !important;
    font-size: 1rem !important;
  }

  .blog{
    margin-top: 20rem !important;
    width: 90% !important;
 
  }

  .blog-container{
    grid-template-columns: 1fr !important;
    
    padding: 0 !important;
   
    place-items: center !important;
    gap: 2rem !important;
    width: 100% !important;
    
  }

  .blog-item{
    padding-bottom: 3rem !important;
    border-bottom: 1px solid #c1c1c1;
  }

  .blog-container p{
    font-size: 1rem;
    margin-inline: 1rem;
  }

  .cta-section {
    width: 100% !important;
    
  }

  .cta-section p{
    font-size: 1rem;
  }

  .accreditation-section{
    gap: 3rem;
    width: 100% !important;
    padding-inline: 5%;
  }

  .accreditation-section h3{
    font-size: 1rem;
  }
}

